.loginFormWrapper{
    width: 300px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    margin: 100px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.loginBtn{
    width: 90%;
    height: 36px;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    background: rgb(253,29,29);
    background: linear-gradient(171deg, rgba(253,29,29,1) 2%, rgba(252,176,69,1) 100%);
}

.loginBtn:hover{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.loginFormRegisterLink{
    font-size: 10pt;
}